:root {
	--warna1: #F3F9FB;
	--warna2: #474F85;
	--warna3: #51E3D4;
	--warna4: #F3ECD3;
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
	text-transform: uppercase;
}

body {
	background: var(--warna1);
	margin: 0;
}

.kotak {
	height: 100vh;
	width: 100vw;
	background: var(--warna1);
	display: flex;
	align-items: center;
	justify-content: center;
}

.sub-kotak {
	text-align: center;
}

.pilihan {
	font-size: 40px;
	cursor: pointer;
	padding: 10px;
}

.baris {
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}

#baris1 {
	background: #F9CEEE;
}

#baris2 {
	background: #97C4B8;
}

#baris3 {
	background: #CCF3EE;
}

.dipilih {
	text-shadow: 0px 10px 0 rgb(50, 50, 50);
	position: relative;
	top: -10px;
}

#ambil {
	background: var(--warna2);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 10px 0 rgba(0,0,0,.4);
	cursor: pointer;
	font-weight: bolder;
	color: var(--warna4);
	width: fit-content;
	margin: auto;
	margin-top: 10px;
}

#ambil:active {
	position: relative;
	top: 10px;
	box-shadow: none;
}

.info {
	position: absolute;
	padding: 10px;
	background: #eee;
	border-radius: 10px;
	box-shadow: 0 5px 10px 5px rgba(0,0,0,.4);
	right: 10px;
	top: 10px;
}

.info:active {
	top: 15px;
	box-shadow: 0 0px 10px 5px rgba(0,0,0,.4);
}