:root {
	--warna1: #CDF0EA;
	--warna2: #BEAEE2;
	--warna3: #F7DBF0;
	--warna4: #F9F9F9;
	--hitam: #243523;
}

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	margin: 0;
}

.kotak {
	height: 100vh;
	width: 100vw;
	background: var(--warna1);
	display: flex;
	align-items: center;
	justify-content: center;
}

.sub-kotak {
	text-align: center;
}

.pilihan {
	font-size: 70px;
	cursor: pointer;
}

#skor {
	position: absolute;
	left: 0;
	top: 0;
	padding: 10px;
}

#hasilKomputer {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}

.tombol {
	background: var(--warna2);
	border: 2px solid var(--hitam);
	color: var(--warna4);
	border-radius: 10px;
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.tombol:active {
	padding: 5px;
}