:root {
	--warna1: #E8EFEB;
	--warna2: #ADEECF;
	--warna3: #E9B0DF;
	--warna4: #FFC288;
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
	text-transform: uppercase;
}

body {
	background: var(--warna1);
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.kotak {
	height: 100vmin;
	width: 100vmin;
	/*background: blue;*/
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: transparent;
}

/*penting*/
#kotak-game, #sambutan {
	position: absolute;
	overflow: hidden;
}

#sambutan {
	height: auto;
	width: auto;
}

#kotak-game > * {
	position: absolute;
}

.tantangan {
	width: 5vmin;
	background: #ECB390;
	/*background: linear-gradient(to right, rgb(229, 17, 21) 0%, rgb(254,254,254) 30%, rgb(254,254,254) 47%, rgb(254,254,254) 71%, rgb(229, 17, 21) 100%);*/
	/*border-top-right-radius: 2vmin;*/
	/*border-top-left-radius: 2vmin;*/
	/*animation-name: ttgn;
	animation-duration: 2s;
	animation-iteration-count: infinite;*/
}

@keyframes ttgn {
	0% {
		background: #ECB390;
	}

	50% {
		background: transparent;
	}

	100% {
		background: #ECB390;
	}
}

#kumpulan-tantangan > * {
	position: absolute;
}

.garis-menang {
	width: 5vmin;
	height: 100%;
	top: 0;
	background: var(--warna3);
}

.garis-atas, .garis-bawah {
	width: 100vmin;
	height: 2vmin;
	background: #ECB390;
	left: 0;
}

.garis-bawah {
	bottom: 0;
}

/*#cahaya {
	right: -90%;
	height: 200vmin;
	width: 200vmin;
	background: radial-gradient(transparent, rgba(0,0,0,.5))
}*/

.tengkorak {
	opacity: .3;
}
/*end penting*/

#tameng {
	position: absolute;
	left: 10px;
	top: 10px;
}

#sambutan {
	display: flex;
	flex-direction: column;
}

#tombol {
	background: var(--warna4);
	font-weight: bold;
	padding: 10px;
	border: none;
	border-radius: 10px 0 10px 0;
}

#tombol:active {
	border-radius: 0 10px 0 10px;
	color: #fff;
}